// Shared New UI colors - used across all themes

@mixin color-palette {
  --red1: oklch(96.89% 0.0152 22.39deg);
  --red2: oklch(88.06% 0.0631 22.04deg);
  --red3: oklch(78.71% 0.1233 23.85deg);
  --red4: oklch(66.85% 0.2188 27.86deg);
  --red5: oklch(65.42% 0.2321 28.66deg);
  --red6: oklch(53.49% 0.1867 28.41deg);
  --red7: oklch(40.87% 0.1383 28.31deg);
  --red8: oklch(26.91% 0.0843 27.43deg);
  --orange1: oklch(97.94% 0.0169 76.12deg);
  --orange2: oklch(92.44% 0.0628 75.47deg);
  --orange3: oklch(86.56% 0.1144 74.96deg);
  --orange4: oklch(77.91% 0.1702 65.71deg);
  --orange5: oklch(76.52% 0.1752 62.57deg);
  --orange6: oklch(62.47% 0.142257 63.186deg);
  --orange7: oklch(47.75% 0.1069 65.23deg);
  --orange8: oklch(31.2% 0.0684 68.13deg);
  --yellow1: oklch(98.71% 0.0201 94.52deg);
  --yellow2: oklch(95.57% 0.0743 95.93deg);
  --yellow3: oklch(91.99% 0.1295 95.37deg);
  --yellow4: oklch(87.33% 0.176 91.91deg);
  --yellow5: oklch(86.52% 0.1768 90.38deg);
  --yellow6: oklch(70.52% 0.1441 90.64deg);
  --yellow7: oklch(53.55% 0.109476 91.1235deg);
  --yellow8: oklch(34.95% 0.0716 93.44deg);
  --green1: oklch(97.77% 0.0156 154.48deg);
  --green2: oklch(91.5% 0.0588 153.39deg);
  --green3: oklch(84.74% 0.1113 151.25deg);
  --green4: oklch(74.63% 0.183 148.25deg);
  --green5: oklch(73.03% 0.1944 147.44deg);
  --green6: oklch(59.64% 0.1556 147.67deg);
  --green7: oklch(45.69% 0.1169 147.76deg);
  --green8: oklch(29.96% 0.0699 149.05deg);
  --mint1: oklch(97.67% 0.0158 192.09deg);
  --mint2: oklch(91.4% 0.0559 193.43deg);
  --mint3: oklch(84.89% 0.0975 191.4deg);
  --mint4: oklch(76.08% 0.1293 189.71deg);
  --mint5: oklch(74.81% 0.1296 189.03deg);
  --mint6: oklch(61.02% 0.1054 189.82deg);
  --mint7: oklch(46.64% 0.0808 189.01deg);
  --mint8: oklch(30.41% 0.052376 190.8158deg);
  --teal1: oklch(97.6% 0.0099 212.52deg);
  --teal2: oklch(91.01% 0.0384 208.75deg);
  --teal3: oklch(83.55% 0.0693 209.91deg);
  --teal4: oklch(71.96% 0.1068 211.76deg);
  --teal5: oklch(69.98% 0.1109 212.72deg);
  --teal6: oklch(57.32% 0.0893 212.09deg);
  --teal7: oklch(43.95% 0.0672 212.18deg);
  --teal8: oklch(29.06% 0.0415 210.48deg);
  --cyan1: oklch(97.65% 0.011 225.98deg);
  --cyan2: oklch(91.15% 0.0418 227.91deg);
  --cyan3: oklch(83.73% 0.0772 228.87deg);
  --cyan4: oklch(72.55% 0.1259 232.84deg);
  --cyan5: oklch(70.68% 0.1327 233.88deg);
  --cyan6: oklch(57.95% 0.1068 233.26deg);
  --cyan7: oklch(44.23% 0.0796 233.37deg);
  --cyan8: oklch(29.28% 0.0484 232.3deg);
  --blue1: oklch(96.63% 0.0165 250.84deg);
  --blue2: oklch(87.61% 0.062887 250.7253deg);
  --blue3: oklch(77.33% 0.1193 251.31deg);
  --blue4: oklch(62.52% 0.2047 255.95deg);
  --blue5: oklch(60.28% 0.2177 257.42deg);
  --blue6: oklch(49.47% 0.175 256.92deg);
  --blue7: oklch(38.03% 0.12949 255.9238deg);
  --blue8: oklch(25.32% 0.0794 253.56deg);
  --indigo1: oklch(96.48% 0.0133 290.75deg);
  --indigo2: oklch(86.98% 0.0495 286.6deg);
  --indigo3: oklch(75.4% 0.0957 284.55deg);
  --indigo4: oklch(56.4% 0.1758 279.91deg);
  --indigo5: oklch(52.95% 0.191 278.34deg);
  --indigo6: oklch(43.62% 0.1538 278.81deg);
  --indigo7: oklch(33.98% 0.1127 279.22deg);
  --indigo8: oklch(23.31% 0.0672 281.07deg);
  --purple1: oklch(96.97% 0.0163 313.62deg);
  --purple2: oklch(88.81% 0.0595 314.5deg);
  --purple3: oklch(79.08% 0.113 313.73deg);
  --purple4: oklch(64.18% 0.1982 312.55deg);
  --purple5: oklch(61.49% 0.2129 312.41deg);
  --purple6: oklch(50.43% 0.1716 312.44deg);
  --purple7: oklch(38.87% 0.126 312.32deg);
  --purple8: oklch(26.16% 0.0759 313.11deg);
  --pink1: oklch(96.56% 0.0177 4.51deg);
  --pink2: oklch(87.81% 0.0675 5.89deg);
  --pink3: oklch(77.9% 0.1338 8.42deg);
  --pink4: oklch(66.26% 0.2271 15.86deg);
  --pink5: oklch(64.97% 0.2383 17.9deg);
  --pink6: oklch(53.08% 0.1924 17.29deg);
  --pink7: oklch(40.48% 0.1434 16.74deg);
  --pink8: oklch(26.78% 0.0869 14.7deg);
  --brown1: oklch(97.38% 0.0045 78.3deg);
  --brown2: oklch(90.09% 0.0172 76.1deg);
  --brown3: oklch(81.17% 0.0322 75.16deg);
  --brown4: oklch(66.26% 0.0586 73.73deg);
  --brown5: oklch(63.22% 0.0643 72.82deg);
  --brown6: oklch(51.86% 0.0506 71.83deg);
  --brown7: oklch(40.04% 0.0375 74.38deg);
  --brown8: oklch(27.01% 0.0227 75.38deg);
  --black: oklch(0% 0 0deg);
  --white: oklch(100% 0 0deg);
}
