@use 'palette' as *;
@use 'theme-mixins' as *;

[data-new-ui-theme="light--cold"] {
  @include color-palette;
  
  @include grey-scale(
    oklch(98.54% 0.001 286.38),
    oklch(96.95% 0.005 258.32),
    oklch(92.77% 0.010 267.36),
    oklch(87.05% 0.012 252.10),
    oklch(70.40% 0.030 263.37),
    oklch(55.32% 0.032 261.39),
    oklch(44.46% 0.030 263.13),
    oklch(37.01% 0.034 262.07),
    oklch(27.79% 0.029 267.58),
    oklch(20.62% 0.027 267.82),
    'cold'
  );
  
  @include semantic-tokens-light('cold');
}