@use 'palette' as *;
@use 'theme-mixins' as *;

:root,
[data-new-ui-theme='light'] {
  @include color-palette;
  @include grey-scale(
    oklch(96.72% 0 0),
    oklch(90.67% 0 0),
    oklch(82.66% 0 0),
    oklch(73.16% 0 0),
    oklch(64.34% 0 0),
    oklch(54.17% 0 0),
    oklch(43.86% 0 0),
    oklch(34.46% 0 0),
    oklch(26.86% 0 0),
    oklch(20.02% 0 0)
  );
  @include semantic-tokens-light;
}
