:root {
  // Shadows
  --dialog-strong: 0px 16px 48px rgba(0, 0, 0, 0.16);
  --dialog: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.06),
            0px 12px 24px rgba(0, 0, 0, 0.08), 
            0px 2px 3px rgba(0, 0, 0, 0.04);
  --content: 0px 2px 3px rgba(0, 0, 0, 0.06);
  --canvas: 0px 0px 0px rgba(0, 0, 0, 0);
  --keyboard-key: 0 2px 0px var(--grey4);

  // Focus
  --focus-default: 0px 0px 0px 2px var(--blue5);
  --focus-accent: 0px 0px 0px 2px var(--blue8);
  --focus-inverse: 0px 0px 0px 2px var(--white);
}

