:root {
  /* System Font Stacks */
  --system-ui: system-ui, sans-serif;
  --old-style:
    'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', p052, serif;
  --monospace-code:
    ui-monospace, 'Cascadia Code', 'Source Code Pro', menlo, consolas, monospace;
  --handwritten:
    'Segoe Print', 'Bradley Hand', chilanka, tscu_comic, casual, cursive;
}
