// Spacer blocks

.nu-c-spacer-zero { display: block; height: var(--spacing-zero); }
.nu-c-spacer-xs { display: block; height: var(--spacing-xs); }
.nu-c-spacer-s { display: block; height: var(--spacing-s); }
.nu-c-spacer-m { display: block; height: var(--spacing-m); }
.nu-c-spacer-l { display: block; height: var(--spacing-l); }
.nu-c-spacer-xl { display: block; height: var(--spacing-xl); }
.nu-c-spacer-xxl { display: block; height: var(--spacing-xxl); }
.nu-c-spacer-xxxl { display: block; height: var(--spacing-xxxl); }